@use '../variables' as *;

body::after {
	content: "";
	background-color: rgba(39, 39, 39, 0.8);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: transparent;
	padding: 20px;
	width: 100%;
	max-width: 350px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	.lock & {
		visibility: visible;
	}
}


.popup {

	&__close {
		cursor: pointer;
		width: 24px;
		height: 24px;
		position: absolute;
		top: 25px;
		right: 25px;

		&::before, &::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			width: 2px;
			height: 24px;
			background-color: $blackColor;
		}

		&::before {
			transform:translate(-50%, -50%) rotate(45deg);
		}
		&::after {
			transform:translate(-50%, -50%) rotate(-45deg);
		}
	}

	&__form-container {
		width: 350px;
		height: 500px;
		background-color: $whiteColor;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		border-radius: 10px;
		box-sizing: border-box;
		padding: 20px 30px;
	}

	&__title {
		text-align: center;
		font-family: $fontFamily;
		margin: 10px 0 30px 0;
		font-size: 28px;
		font-weight: 800;
	}

	&__form {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 18px;
		margin-bottom: 15px;
	}

	&__input {
		border-radius: 20px;
		border: 1px solid #c0c0c0;
		outline: 0 !important;
		box-sizing: border-box;
		padding: 12px 15px;
	}

	&__page-link {
		text-decoration: underline;
		margin: 0;
		text-align: end;
		color: #747474;
		text-decoration-color: #747474;
	}

	&__page-link-label {
		cursor: pointer;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
		font-size: 9px;
		font-weight: 700;

		&:hover {
			color: $blackColor;
		}
	}

	&__form-btn {
		padding: 10px 15px;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
		border-radius: 20px;
		border: 0 !important;
		outline: 0 !important;
		background: teal;
		color: white;
		cursor: pointer;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

		&:active {
			box-shadow: none;
		}
	}

	&__sign-up-label {
		margin: 0;
		font-size: 10px;
		color: #747474;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	}

	&__sign-up-link {
		margin-left: 1px;
		font-size: 11px;
		text-decoration: underline;
		text-decoration-color: teal;
		color: teal;
		cursor: pointer;
		font-weight: 800;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	}

	&__buttons-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin-top: 20px;
		gap: 15px;
	}

	&__apple-login-button,
	&__google-login-button {
		border-radius: 20px;
		box-sizing: border-box;
		padding: 10px 15px;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
		rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
		font-size: 11px;
		gap: 5px;
	}

	&__apple-login-button {
		background-color: #000;
		color: #fff;
		border: 2px solid #000;
	}

	&__google-login-button {
		border: 2px solid #747474;
	}

	&__apple-icon,
	&__google-icon {
		font-size: 18px;
		margin-bottom: 1px;
	}
}