@use "../base/mixins" as *;
@use "../variables" as *;


.tabs {
  position: absolute;
  top: rem(165);
  left: 50%;
  transform: translateX(-50%) !important;
  width: 100%;
  transition: all .3s ease-in-out;

  display: flex;
  flex-direction: column;
  gap: rem(30);
  max-width: $maxWidthContainer;
  margin: 0 auto;

  &__navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: rem(5) rem(30);
    padding: 0 rem(160);
    background-color: rgba(47, 47, 47, 1);
    transition: all .3s ease-in-out;

    @media (max-width: 1440px) {
      padding: 0 rem(95);
    }
    @media (max-width: $tablet) {
      padding: 0 rem(30);
    }
    @media (max-width: $mobileMedium) {
      padding: rem(0)  rem(15);
    }
  }

  &__title {
    padding: rem(27) rem(0);
    font-family: $fontMontserrat;
    color: $whiteColor;
    font-size: rem(16);
    font-weight: 500;
    line-height: 200%;
    letter-spacing: rem(2);
    text-align: center;
    text-transform: uppercase;

    transition: all .3s ease-in-out;
    position: relative;
    overflow: hidden;

    @media (max-width: $tablet) {
      padding: rem(15) rem(0);
    }


    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: -100%;
      width: 100%;
      height: rem(1);
      background-color: $whiteColor;
      transition: all .3s ease-in-out;
    }

    &._tab-active {
      &::before {
        left: 0;
        transition: all .3s ease-in-out .4s;
      }
    }
  }

  &__content {
    padding: rem(40) rem(165) rem(20);
    transition: all .3s ease-in-out;

    @media (max-width: 1440px) {
      padding: 0 rem(95);
    }

    @media (max-width: $tablet) {
      padding: rem(30) ;
    }
    @media (max-width: $mobileMedium) {
      padding: rem(30)  rem(15);
    }
  }

  &__body {
  }

  &__body-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: rem(50) rem(100);

    max-width: 100%;
    max-height: rem(700);
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    @media (max-width: $mobileMedium) {
      gap: rem(50);
    }
    @media (max-width: $mobile) {
      max-height: rem(340);
    }
    @media (max-width: $mobileMedium) {
      max-height: rem(240);
    }
  }

  &__title-menu {
    font-family: $fontMontserrat;
    color: $whiteColor;
    font-size: rem(16);
    font-weight: 400;
    line-height: 100%;
    letter-spacing: rem(3);
    text-align: left;
    text-transform: uppercase;

    margin-bottom: rem(30);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(15);
  }

  &__item {
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: -100%;
      width: 100%;
      height: rem(1);
      background-color: $whiteColor;
      transition: all .3s ease-in-out;
    }

    &:hover {
      &::before {
        left: 0;
        transition: all .3s ease-in-out .4s;
      }
    }
  }

  &__link {
    font-family: $fontMontserrat;
    color: $whiteColor;
    font-size: rem(18);
    font-weight: 300;
    line-height: 150%;
    letter-spacing: rem(3);
    text-align: left;
  }
}

