
// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320px;
// Ширина полотна (макета)
$maxWidth: 1920px;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1440px;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 0;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: $containerWidth; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 992px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 768px; // Телефоны L
$mobileMedium: 580px; // Телефоны M
$mobileSmall: 480px; // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Forum", serif;
$fontMontserrat:   "Viaoda Libre", serif;
$fontSize: 14px; // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$blackColor: #272727;
$whiteColor: #fff;
$proposalsColor : #ededed;
$greyColor: #757575;
$goldColor: #E2B67A;